 .u-section-1 {
  background-image: black;
}
.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-form-1 {
  height: 413px;
  margin: 42px 528px 60px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}